.c-1 /* general */{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem 1.5rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    gap: 1rem;
}

.cr-1 /* general */ {
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 20rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;    
}

.fit-center /* general */{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: fit-content;
    min-width: 30dvw;
    margin-inline: auto;
}

.bg-1 /* general */{
    background-color: white;
}

.bg-2 /* general */{
    background-color: rgba(128, 128, 128, 0.116);
    width: 80%;
    overflow: auto;
}

.liste-h /* general */{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.liste-v /* general */{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.btn-1 /* general */{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    text-decoration: none;
    border: 1px solid #2a008c;
    border-radius: 15px;
    padding: 0.5rem;
    background: rgb(16, 0, 105);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
    transform-origin: center; /* Définir l'origine de la transformation au centre */

    &:hover {
        background: rgb(50, 4, 86);
        color: white;
        transform: scale(1.1); /* Agrandir les boutons au survol */
    }
}

.btn-2 /* general */{
    width: fit-content;
    border-radius: 0.5rem;
}

.text-danger /* general */{
    color: red;
    font-size: 0.5rem;
    text-align: left;
    margin-left: 1rem;
}

.input-required /* general */{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

h1 /* general */{
    color: black;
    text-align: center;
    display: block;
    font-size: 2.5rem;
}

h2 /* general */{
    color: black;
    text-align: center;
    display: block;
    font-size: 1.5rem;
}

.form-v /* general */{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

input[type="text"] /* general */{
    width: 20rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 128, 128, 0.116);
}

input[type="password"] /* general */{
    width: 20rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 128, 128, 0.116);
}

input[type="email"] /* general */{
    width: 20rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 128, 128, 0.116);
}

textarea /* general */{
    height: 5rem;
    width: 20rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 128, 128, 0.116);
    font-family: "Roboto", sans-serif;
}

::placeholder /* general */{
    text-align: center;
}

form select /* general */{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 128, 128, 0.116);
}

table /* general */{
    width: 100%;
    border: 0.1rem solid rgb(117, 117, 117);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 1rem;    
}

thead, tfoot /* general */{
    background-color: rgb(16, 0, 105);
    border: 1rem solid rgba(128, 128, 128,);
    color: white;
}

th,td /* general */{    
    background-color: rgba(128, 128, 128, 0.2);
    padding: 1rem;
    text-align: center;
}

tbody tr:nth-child(odd) /* general */{
    background-color: rgba(128, 128, 128, 0.8);
}
  
tbody tr:nth-child(even) /* general */{
    background-color: rgba(128, 128, 128, 0.6);
}

.table-interactions /* general */{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
}

.clickable /* general */{
    cursor: pointer;
    text-decoration: underline;
}

.clickable:hover /* general */{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.4);
}

.elements /* general */{
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 128, 128, 0.3);
    transition: 0.5s ease;
    transform-origin: center;
}

.space /* general */{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}