input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    font-size: 1rem;
    border: thin solid rgb(16, 0, 105);
    border-radius: 0.25rem;
    &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        clip-path: polygon(
            28% 38%,
            41% 53%,
            75% 24%,
            86% 38%,
            40% 78%,
            15% 50%
        );
        transform: scale(0);
        background-color: rgb(16, 0, 105);
    }
    &:checked::before {
        transform: scale(1);
    }
}
