footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    color: white;

    .footer-link {
        align-items: center;
        display: flex;
        flex-flow: row;
        gap: 1rem;
        justify-content: center;
    }

    .footer-bottom {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }

    .separation {
        font-size: 1.5rem;
    }

    .footer-button {
        transition: transform 0.5s ease;
        &:hover {
            transform: scale(1.1);
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .logo {
        display: flex;
        justify-content: center;
    }
}

.cesi{
    width: 100px; /* Largeur de l'image */
    height: auto; /* Hauteur ajustée automatiquement pour garder les proportions */
    border-radius: 5px; /* Bordure arrondie */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    transition: transform 0.3s ease; /* Transition fluide lors du survol */
}

.cesi:hover {
    transform: scale(1.1); /* Zoom de 10% */
}