footer{
    display : flex;
    flex-flow: column;
    justify-content : center;
    gap : 1rem;
    position: sticky;
}

.footer-link{
    align-items: center;
    display: flex;
    flex-flow: row;
    color : white;
    font-size : 1.3rem;
    gap : 1rem;
    justify-content: center;
}

.separation{
    font-size : 1.5rem;
}

.footer-button:hover{
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color : inherit;
}

.logo{
    display: flex;
    justify-content: center;
}