@import url("checkmark.css");

.mdp-options {
    color: black;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: underline;
    *:hover {
        text-decoration: underline;
        color: blue;
    }

    a {
        color: black;
    }

    .rememberme {
        display: flex;
        gap: 0.25rem;
        cursor: pointer;
        align-items: center;
        * {
            cursor: pointer;
        }
    }
}
