.c-2 {
    display: flex;
    flex-flow: column;
    padding: 1rem 1.5rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    gap: 1rem;
}

.inputfile {
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    display: flex;
    justify-content: center;
    color: black;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 128, 128, 0.2);
    padding: 0.3rem;
    border-radius: 1px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgba(128, 128, 128, 0.4);

}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.search-bar{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 128, 128, 0.116);
    width: fit-content;
}

input#locationInput {
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: none;
}

input#keywordInput {
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: none;
}