.pagination .page-link {
  font-size: 0.8rem; /* Taille de la police des éléments de pagination */
}

.pagination .page-item.disabled .page-link {
  cursor: not-allowed; /* Curseur pour les éléments de pagination désactivés */
}

.pagination .page-item .page-link {
  padding: 0.25rem 0.5rem; /* Espacement interne des éléments de pagination */
}

.pagination .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; /* Couleur de fond et bordure de l'élément de pagination actif */
}

.pagination .page-link:focus, .pagination .page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef; /* Couleur de survol des éléments de pagination */
  border-color: #dee2e6;
}
