table /* general */ {
    width: 100%;
    border: thin solid rgb(117, 117, 117);
    background-color: none;

    thead, tfoot /* general */ {
        background-color: rgb(16, 0, 105);
        color: white;
        font-weight: bold;
        th:first-child {
            border-radius: 1rem 0 0 0;
        }
        th:last-child {
            border-radius: 0 1rem 0 0;
        }
    }

    th,td /* general */ {
        background-color: rgba(128, 128, 128, 0.2);
        padding: 1rem 0.5rem;
        @media (orientation: landscape) {
            padding: 1rem;
        }
        text-align: center;
    }

    tbody {
        tr:nth-child(odd) /* general */ {
            background-color: rgba(128, 128, 128, 0.8);
        }

        tr:nth-child(even) /* general */ {
            background-color: rgba(128, 128, 128, 0.6);
        }
        tr:hover {
            background-color: rgba(128, 128, 128, 0.4);
            color: white;
        }
        tr:last-child {
            td:first-child {
                border-radius: 0 0 0 1rem;
            }
            td:last-child {
                border-radius: 0 0 1rem 0;
            }
        }
    }
}
